h1 {
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

#pixelSelector {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#funcSelector {
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myTable {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    border-collapse: collapse;
    border: solid 1px;
}

td {
    border: 5px solid black;
    padding: 15px;
    border-bottom: :1px solid black;
}

tr {
    background: white;
}

body{
    background:lightblue;
}

p{
    color: white;
}